$col_background: #2c2833;
$col_backgroundDark: #19181d;
$col_shadows: #0000007e;
$col_foreground: #ebebeb;
$col_text: hsl(262, 12%, 18%);
$col_selections: #00000025;

$font: 'Averia Serif Libre', cursive;