@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');
@import 'animations';
@import 'constants';


html {
    font-family: $font;
    text-align: center;
    overflow: hidden;

    background-color: $col_background;
    background: linear-gradient(180deg, $col_background 0%, $col_background 25%,$col_backgroundDark 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    margin: auto; padding: 0;
    
    height: 100vh;
    width: 100vw;
    
    box-shadow: inset 0 0 8vw $col_shadows;
    &::after {
        content: "";
        opacity: 0.05;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   

        background: url("../images/Circuit Board.svg") repeat center center fixed; 
        background-position: var(--x) var(--y);
        background-size: calc(120vh + 50vw);
        
    }
}

div:not(.invisible, .noanim) {
    border-radius: 6px;
    
    background: rgb(2,0,36);
    background: linear-gradient(175deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 50%);

    box-shadow: 5px 10px 15px $col_shadows, -5px -5px 20px rgba(255, 255, 255, 0.07);

    animation: 1s ease-in-out both fade-in;
    transform: translate(calc(var(--x)/-2.5), calc(var(--y)/-2.5));
}

.invisible {
    width: 80vw;
    max-width: 700px;

    margin: auto;
    padding-top: 35vh;

    text-align: center;
}

.header {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.content {
    display: inline-block;
    
    margin: 0 0.35vw;
    margin-top: calc(0.05vw + 1.75vh);
    
    width: 40%;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

.tooltiptext {
    opacity: 0;

    width: 100px;
    top: 100%;
    left: 50%;

    margin-left: -55px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

    background-color: $col_foreground;
    color: $col_text;

    text-align: center;
    border-radius: 6px;

    font-size: 1rem;
    font-weight: bold;
   
    transform: translateY(-2px);
    position: absolute;
    
    z-index: 1;
    transition: transform 0.2s, opacity 0.2s;
  }

  div:has(.backing) {
      position: relative;
      overflow: hidden;
  }

  .backing {
      top: 0;
      left: 0;

      width: auto;
      height: auto;
      min-width: 105vw;


      margin: auto;
      position:absolute;
      display: block;
      opacity: 0.03;
      pointer-events: none;
  }

hr {
    width: 80%;
    height: calc(0.07vw + 0.07vh);

    border: 0;
    background-color: $col_text;
}


h1 {
    font-size: calc(1.5vw + 3.75vh);
    transform: translateY(5px);
}

i { 
    padding: 0 calc(3px + 0.3vh);
    font-size: calc(100% + 1.5vh); 
    &:hover .tooltiptext {
        transform: translateY(5px);
        opacity: 1;
    }
}

.content, a, p {
    font-size: calc(0.2vw + 2vh);
}


h1, h2, h3, p, i, a {
    text-shadow: 0px 1px 1.5px $col_shadows, -2px -2px 2.5px white;
    color: $col_text;
    cursor: default;
    text-decoration: none;
}

i, a {
    cursor: pointer;
}

.responsive {
    transition: color 0.2s, transform 0.1s;
    &:hover {
        filter: blur(0);
        color: black;
        text-shadow: none;
        transform: scale(1.1);
    }
}

a.responsive:hover {
    font-weight: 600;
}

::selection {
    background: $col_selections;
}