@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');
@import 'animations';
@import 'constants';


html {
    font-family: $font;
    text-align: center;
    overflow: hidden;

    background-color: $col_background;
    background: linear-gradient(180deg, $col_background 0%, $col_background 25%,$col_backgroundDark 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    margin: auto; padding: 0;
    
    height: 100vh;
    width: 100vw;
    
    box-shadow: inset 0 0 8vw $col_shadows;
    &::after {
        content: "";
        opacity: 0.05;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   

        background: url("../images/Circuit Board.svg") repeat center center fixed; 
        background-position: var(--x) var(--y);
        background-size: calc(120vh + 50vw);
    }
}

.invisible {
    width: 80vw;
    max-width: 700px;

    margin: auto;
    padding-top: 35vh;

    text-align: center;
}

div:not(.invisible, .noanim), .content {
    border-radius: 6px;
    
    background: rgb(2,0,36);
    background: linear-gradient(175deg, rgb(255, 255, 255) 0%, rgb(230, 230, 230) 90%);

    box-shadow: 5px 7px 15px $col_shadows, -4px -5px 20px rgba(255, 255, 255, 0.07);

    animation: 1s ease-in-out both fade-in;
    transform: translate(calc(-2vw + var(--x)/-2), calc(-2vh + var(--y)/-2));

    outline: 0px solid white;
    transition: 0.15s outline;
    div:not(.invisible, .noanim):hover, .content:hover { 
        outline: 3px solid hsla(var(--h), 100%, 50%, 50%);
    }
}

.header {
    width: 100%;
    padding-top: 1vh;
    padding-bottom: calc(10px + 0.5vh);
}

.content {
    display: inline-block;
    
    margin: 0 0.40vw;
    margin-top: calc(0.5vw + 1vh);
    
    width: 40%;
    padding-top: calc(1.2vh + 0.25vw);
    padding-bottom: calc(1.2vh + 0.25vw);
}

.tooltiptext {
    opacity: 0;

    width: 90px;
    top: 100%;
    left: 50%;

    margin-left: -50px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 4px;

    background-color: $col_foreground;
    color: $col_text;

    text-align: center;
    border-radius: 6px;

    font-size: 1rem;
    font-weight: bold;
   
    transform: translateY(-2px);
    position: absolute;
    
    z-index: 1;
    transition: transform 0.2s, opacity 0.1s;
  }

  div:has(.backing) {
      position: relative;
      overflow: hidden;
  }

  .backing {
      top: 0;
      left: 0;

      width: auto;
      height: auto;
      min-width: 105vw;


      margin: auto;
      position:absolute;
      display: block;
      opacity: 0.03;
      pointer-events: none;
  }

hr {
    width: 80%;
    height: calc(0.07vw + 0.07vh);

    border: 0;
    background-color: $col_text;
}


h1 {
    font-size: calc(1.75vw + 3.3vh);
    transform: translateY(5px);
}

h3, p {
    margin: 0;
    font-size: calc(8px + 0.4vw + 0.9vh);
    font-weight: normal;
}

i { 
    margin-top: 0.1vh;
    margin-bottom: 0.1vw;
    padding: 0 calc(2px + 0.2vh);
    font-size: calc(50% + 1.5vh + 0.75vw); 
    &:hover .tooltiptext {
        transform: translateY(2px);
        opacity: 1;
    }
}

a{
    font-size: calc(10px + 0.5vw + 1.25vh);
}

p{
    padding-bottom: 1vh;
}


h1, h2, h3, p, i, a {
    text-shadow: 0px 1px 1.5px $col_shadows, -2px -2px 2.5px white;
    color: $col_text;
    cursor: default;
    text-decoration: none;
}


.responsive {
    cursor: pointer;
    transition: color 0.2s, transform 0.1s;
    &:hover:not(h3) { 
        color: black;
        text-shadow: none;
        transform: scale(110%);
    }
}

.content {
    cursor: pointer;
    &:hover h3{
        color: black;
        text-shadow: none;
        font-weight: bold;
        transform: scale(105%);
    }
}

::selection {
    background: $col_selections;
}