@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');
@import 'animations';
@import 'constants';

html {
    font-family: $font;
    text-align: center;
    overflow: hidden;

    background-color: $col_background;
    background: linear-gradient(180deg, $col_background 0%, $col_background 25%,$col_backgroundDark 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    margin: auto; padding: 0;
    
    height: 100vh;
    width: 100vw;
    &::after {
        content: "";
        opacity: 0.05;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   

        background: url("../images/Circuit Board.svg") repeat center center fixed; 
        background-position: var(--x) var(--y);
        background-size: calc(120vh + 50vw);
    }
}

div:not(.invisible, .noanim) {
    border-radius: 5px;
    background-color: $col_foreground;
    box-shadow: 0 0 15px $col_shadows;

    animation: 1s ease-in-out both fade-in;
}

.invisible {
    width: 80vw;
    max-width: 700px;

    margin: auto;
    padding-top: 35vh;

    text-align: center;
}

.header {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.content {
    margin: 0 auto;
    margin-top: 2.25vh;
    
    width: 80%;
    padding: 1px;
}

.responsive {
    padding: 0 0.5vw;

    text-shadow: 0;
    transition: font-size, text-shadow 0.2s, color 0.2s;
    &:hover {
        color: black;
        text-shadow: 0 0 1px $col_shadows, 0 0 24px white;
        transform: scale(1.1);
    }
}

.tooltiptext {
    opacity: 0;

    width: 100px;
    top: 100%;
    left: 50%;

    margin-left: -55px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;

    background-color: $col_foreground;
    color: $col_text;

    text-align: center;
    border-radius: 6px;

    font-size: 1rem;
    font-weight: bold;
   
    position: absolute;
    transform: translateY(-2px);

    z-index: 1;
    transition: transform 0.2s, opacity 0.5s;
  }

  div:has(.backing) {
      position: relative;
      overflow: hidden;
  }

  .backing {
      top: 0;
      left: 0;

      width: auto;
      height: auto;
      min-width: 105vw;


      margin: auto;
      position:absolute;
      display: block;
      opacity: 0.03;
      pointer-events: none;
  }

hr {
    width: 80%;
    height: 2px;

    border: 0;
    background-color: $col_text;
}


h1 {
    font-size: 300%;
    transform: translateY(5px);
}

i { 
    font-size: calc(100% + 1.5vh); 
    &:hover .tooltiptext {
        transform: translateY(5px);
        opacity: 1;
    }
}

i, a {
    cursor: pointer;
}

h1, h2, h3, p, i, a {
    text-shadow: 0 0 1px $col_shadows;
    color: $col_text;
    cursor: default;
    text-decoration: none;
}

::selection {
    background: $col_selections;
}